#loading-element {
    position: fixed;
    left: calc(50% - 200px);
    top: calc(50vh - 165px);
    width: 400px;
    height: 330px;

    .loading-anim {
        width: 400px;
        height: 300px;
        background: url('../resources/images/loading.gif');
        background-size: 400px 300px;
    }

    .loading-title {
        font-size: 18px;
        font-family: "Raleway";
        font-weight: 400;
        color: rgba(0, 0, 0, 0.9);
        text-align: center;
        text-transform: uppercase;
    }

}
