.overview-side {
    float: right;
    width: 200px;

    .game-infos {
        width: 100%;

        h3 {
            width: calc(100% - 15px);
            padding-top: 8px;
            padding-bottom: 8px;
            background: #dee2e3;
            font-size: 13px;
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            padding-left: 10px;
            margin-bottom: 10px;
        }
    }
}
