$items: 12;
$itemsWidth: 33px;

.game-container {
    margin-top: calc(50vh - 250px);
    height: 500px;
    width: 880px;
}

.game-left {
    width: $itemsWidth * $items;
    float: left;
}

#goban_container {
    width: $itemsWidth * $items;
    height: $itemsWidth * $items;
    margin-top: 20px;
    position: relative;
}

#goban {
    width: 100%;
    height: $itemsWidth * $items;
    border-spacing: 0;
    border-collapse: collapse;
}

#goban td {
    height: $itemsWidth;
    width: $itemsWidth;
    border: solid 1px #979998;
}

#goban tr:nth-child(odd) td:nth-child(odd),
#goban tr:nth-child(even) td:nth-child(even) {
    background: #dedede;
}

#goban tr:nth-child(even) td:nth-child(odd),
#goban tr:nth-child(odd) td:nth-child(even) {
    background: #f0f4f3;
}



#elements {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 13px);
}

#elements div {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#elements div:hover {
    cursor: pointer;
}

#elements div.black {
    background: black;
}

#elements div.white {
    background: #FAFAFA;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.05),
                inset 0px 1px 0px rgba(0, 0, 0, 0.05),
                inset -1px 0px 0px rgba(0, 0, 0, 0.05),
                inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}


.game-right {
    float: right;
    width: 350px;
}

.game-box {
    width: 100%;
    margin-bottom: 15px;

    h3 {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background: black;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        box-sizing: border-box;
    }

    .game-content {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        border: solid 1px #d7dbdc;
        border-top: none;
        background: #f1f5f6;
    }

    &.game-infos {
        .game-content {
            background: #dfe3e4;
        }
    }

    &.game-history {
        .game-content {
            height: 150px;
        }
    }
}

.game-controls {
    display: flex;
    margin-top: 50px;

    button {
        border: none;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        flex: 1;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;

        &.rules {
            background: #2066a4;
        }

        &.giveup {
            background: #ef7d4b;
        }

        &.leave {
            background: #b9485a;
        }
    }
}
