.online-content {
    width: 100%;

    .overview-nav {

        .item {
            height: auto !important;

            &:hover {
                height: auto!important;
            }
        }
    }
}
