<section class="looking-game">
    <div class="player player-left">
        <div class="line"></div>
        <img src="http://lorempixel.com/50/50/">
        <div class="infos">
            <h3>Romain</h3>
            <span>Rang 12</span>
        </div>
    </div>
    <div class="player player-right">
        <div class="line"></div>
        <img src="http://lorempixel.com/nature/50/50/">
        <div class="infos">
            <h3>Georges</h3>
            <span>Rang 12</span>
        </div>
    </div>

    <div class="loading-anim"></div>
    <h2 class="loading-title">Recherche de joueurs...</h2>
</section>
