<section class="looking-game">
    <div class="player player-left">
        <div class="line"></div>
        <img src="http://lorempixel.com/50/50/">
        <div class="infos">
            <h3>Romain</h3>
            <span>Rang 12</span>
        </div>
    </div>
    <div class="player player-right">
        <div class="line"></div>
        <div class="player-swipe" id="player_0">
            <img src="http://lorempixel.com/nature/50/50/">
            <div class="infos">
                <h3>Georges</h3>
                <span>Rang 12</span>
            </div>
        </div>
        <div class="player-swipe" id="player_1">
            <img src="http://lorempixel.com/car/50/50/">
            <div class="infos">
                <h3>Rene</h3>
                <span>Rang 1</span>
            </div>
        </div>
        <div class="player-swipe" id="player_2">
            <img src="http://lorempixel.com/car/50/50/">
            <div class="infos">
                <h3>Alfred</h3>
                <span>Rang 5</span>
            </div>
        </div>
    </div>

    <div class="loading-anim"></div>
    <h2 class="loading-title">Recherche de joueurs...</h2>
</section>
