<section class="looking-game">
    <div id="looking-cancel" class="looking-cancel">Annuler</div>
    
    <div class="player player-left">
        <div class="line"></div>
        <img src="http://gravatar.com/avatar/{{ user.picture }}?s=50">
        <div class="infos">
            <h3>{{ user.username }}</h3>
            <span>{{ user.rankName }}</span>
        </div>
    </div>

    <div class="player player-right">
        <div class="line"></div>
        <img src="resources/images/unknown.png">
        <div class="infos">
            <h3>???<h3>
            <span>???</span>
        </div>
    </div>

    <div class="loading-anim"></div>
    <h2 class="loading-title">
        Lien à envoyer à votre ami
        <input class="private-share-link" value="http://goo.gl/3eJd7" disabled>
    </h2>
</section>
