<div class="container" style="height: 600px; margin-top: calc(50vh - 300px);">
    <div class="aside-content">
        <div class="number">3</div>
        <h3>Placements interdits</H3>

        <p style="padding-top: 0px; margin-bottom: 250px">
            On appelle "placement interdits" tout placement suicidaire ou inutile.<br>
            Nous vous notifierons lorsque cela arrive ne vous inquietez pas !<br>
            On est gentil et on vous aide un peu, l'erreur est humaine.
        </p>

        <button id="exit-tuto" class="next">Jouer</button>
        <button id="tuto-placements" class="back">Retour</button>
    </div>

    <div class="main-content">
        <video src="resources/videos/SWIPE_TUTO_02_NC.mp4" style="margin-top: calc(300px - 204px); margin-left: 50px" autoplay></video>
    </div>
</div>
