<div class="container" style="width: 350px; height: 300px; margin-top: calc(50vh - 150px);">
    <span class="subtitle">Avant de commencer...</span>
    <h2>Tutoriel <b>SWIPE</b></h2>

    <button id="tuto-interface">Commencer le <b>tutoriel</b></button>
    <span class="or">OU</span>
    <button id="exit-tuto">Commencer à <b>jouer</b></button>
</div>
