<div class="container" style="height: 600px; margin-top: calc(50vh - 300px);">
    <div class="aside-content">
        <div class="number">2</div>
        <h3>Placements</H3>

        <p style="padding-top: 0px; margin-bottom: 200px">
            Pour placer un pion, rien de plus simple, il suffit de pointer un sommet dans la grille et de cliquer dessus.<br>
            Il n'y a pas de retour en arrière alors faites le bon choix !
        </p>

        <button id="tuto-interdits" class="next">Suivant</button>
        <button id="tuto-interface" class="back">Retour</button>
        <button id="exit-tuto" class="quit">Quitter</button>
    </div>

    <div class="main-content">
        <video src="resources/videos/SWIPE_TUTO_01_NC.mp4" style="margin-top: calc(300px - 204px); margin-left: 50px" autoplay></video>
    </div>
</div>
