<div class="container" style="height: 600px; margin-top: calc(50vh - 300px);">
    <div class="aside-content">
        <div class="number">1</div>
        <h3>L'Interface</H3>

        <p style="padding-top: 40px;">
            Voici la grille du jeu Swipe<br>
            Tous vos pions seront a placer ici, ainsi que vos stratégies menants à la victoire.
        </p>

        <p style="padding-top: 10px;">
            Parce que le trash talking peut marcher pour gagner nous vous fournissons un chat pour discuter<br>
            Restez fair play tout de même et évitez les blagues sur les mamans.
        </p>

        <p style="margin-bottom: 40px;">
            Vous vous absentez un moment ? Ne vous en faites pas nous avons tout prévu !<br>
            La fenêtre des logs vous indiquera ce que vous avez manqué.
        </p>

        <button id="tuto-placements" class="next">Suivant</button>
        <button id="exit-tuto" class="quit">Quitter</button>
    </div>

    <div class="main-content">
        <img src="resources/images/tuto/interface.png" width="700" style="margin-top: 60px">
    </div>
</div>
