<section class="container">
    <section class="overview-container">
    
        <!-- Header -->
        <div class="overview-header">
            <div class="overview-side">
                {Username} [se deconnecter]
            </div>

            <div class="separation-bar"></div>

            <div class="overview-left">
                <div class="logo"></div>
                <h2>SWIPE</h2>
                <h6>Selection du mode de jeu</h6>
            </div>
        </div>

        <!-- Side bar -->
        <div class="overview-side">
            Sidebar
        </div>

        <!-- Content -->
        <div class="overview-content">
            Content
        </div>
    </section>
</section>
