<section class="container">
    <!-- HEADER -->
    <header class="header-login">
        <div class="right">
            <span>Deja un compte ?</span>
            <button class="button button-signup" onclick="Container.get('HTTP').setURI('/login');">Se connecter</button>
        </div>
    </header>

    <div class="clear"></div>

    <!-- FORM -->
    <section class="form-container">
        <div class="logo"></div>

        <div class="error" id="login-errors"></div>

        <form method="post" id="signup-form">
            <div class="input-container">
                <input type="text" id="login-email" required>
                <label for="login-email">Adresse email</label>
            </div>
            <div class="input-container">
                <input type="text" id="login-pseudo" required>
                <label for="login-pseudo">Pseudo</label>
            </div>
            <div class="input-container">
                <input type="password" id="login-password" required>
                <label for="login-password">Mot de passe</label>
            </div>

            <div class="btn-container btn top-margin" id="login-loader">
                <button>Inscription</button>
                <div class="btn-loading"></div>
            </div>
        </form>
    </section>
</section>
