<section class="container">
    <section class="overview-container">

        <!-- Header -->
        <div class="overview-header">
            <div class="overview-side">
               <a href="#/overview">retour</a>
            </div>

            <div class="separation-bar"></div>

            <div class="overview-left">
                <div class="logo"></div>
                <h2>SWIPE</h2>
                <h6>Historique de jeu</h6>
            </div>
        </div>

        <!-- Content -->
        <div class="overview-content online-content">
            dede
        </div>
    </section>
</section>
