<section class="container">
    <section class="overview-container">

        <!-- Header -->
        <div class="overview-header">
            <div class="overview-side">
               <a href="#/overview">retour</a>
            </div>

            <div class="separation-bar"></div>

            <div class="overview-left">
                <div class="logo"></div>
                <h2>SWIPE</h2>
                <h6>Historique de jeu</h6>
            </div>
        </div>

        <!-- Content -->
        <div class="overview-content online-content">
            <table class="game-history">
                <th>IDENTIFIANT</th>
                <th>TYPE DE PARTIE</th>
                <th>SCORES</th>
                <th>RESULTAT</th>
            {{#each games}}
                <tr>
                    <td><b>{{game_id}}</b></td>
                    <td>{{type}}</td>
                    <td class="score"><b>{{points_black}}</b> - {{points_white}}</td>
                    <td class="win">VICTOIRE</td>
                </tr>
            {{/each}}
        </table>
        </div>
    </section>
</section>
