<section class="container">
    <!-- HEADER -->
    <header class="header-login">
        <div class="right">
            <span>Pas de compte ?</span>
            <button class="button button-signup">S'inscrire</button>
        </div>
    </header>

    <div class="clear"></div>
    
    <!-- FORM -->
    <section class="form-container">
        <div class="logo"></div>

        <div class="error" id="login-errors"></div>

        <form method="post" id="login-form">
            <div class="input-container">
                <input type="text" id="login-email" required>
                <label for="login-email">Adresse email</label>
            </div>
            <div class="input-container">
                <input type="password" id="login-password" required>
                <label for="login-password">Mot de passe</label>
            </div>

            <div class="btn-container btn top-margin" id="login-loader">
                <button>Connexion</button>
                <div class="btn-loading"></div>
            </div>
            <a class="btn facebook">Connexion via facebook</a>
        </form>
    </section>
</section>
