<section class="container">
    <section class="overview-container">

        <!-- Header -->
        <div class="overview-header">
            <div class="overview-side">
               <a href="#/logout">se deconnecter</a>
            </div>

            <div class="separation-bar"></div>

            <div class="overview-left">
                <div class="logo"></div>
                <h2>SWIPE</h2>
                <h6>Selection du mode de jeu</h6>
            </div>
        </div>

        <!-- Side bar -->
        <div class="overview-side">
            <div class="user-infos">
                <div class="badge" data-rank="{{ user.rank }}"></div>
                <div class="side">
                    <h3>{{ user.username }}</h3>
                    <span>{{ user.rankName }}</span>
                </div>

                <div class="clear"></div>
            </div>

            <div class="game-infos">
                <h3>Multijoueur</h3>
            </div>
            <div class="game-infos">
                <h3>Solo</h3>
            </div>
        </div>

        <!-- Content -->
        <div class="overview-content">
            <nav class="overview-nav">
                <div class="item" id="nav-solo-choice">
                    <h3>Solo vs. AI</h3>
                    <p class="description">
                        Jouez avec une intelligence artificielle pour vous entraîner à SWIPE. Ne la sous-estimez pas, elle risquerait de vite vous faire déchanter.
                    </p>
                </div>

                <div class="item" id="nav-online-choice">
                    <h3>Multijoueur</h3>
                    <p class="description">
                        Affrontez le monde entier ou vos amis, des adversaires tout droit venu des quatre coins du monde ! Attention Chuck Norris est de la partie.
                    </p>
                </div>

                <div class="item" id="nav-history-choice">
                    <h3>Historique des parties</h3>
                    <p class="description">
                        L’historique de toutes vos parties. Toutes vos victoires et vos défaites, nous les garderons ici.
                    </p>
                </div>
            </nav>
        </div>
    </section>
</section>
