<section class="container">
    <section class="overview-container">

        <!-- Header -->
        <div class="overview-header">
            <div class="overview-side">
               <a href="#/logout">se deconnecter</a>
            </div>

            <div class="separation-bar"></div>

            <div class="overview-left">
                <div class="logo"></div>
                <h2>SWIPE</h2>
                <h6>Selection du mode de jeu</h6>
            </div>
        </div>

        <!-- Side bar -->
        <div class="overview-side">
            <div class="userinfos">

            </div>

            <div class="game-infos">
                <h3>Multijoueur</h3>
            </div>
            <div class="game-infos">
                <h3>Solo</h3>
            </div>
        </div>

        <!-- Content -->
        <div class="overview-content">
            <nav class="overview-nav">
                <div class="item">
                    <h3>Solo vs AI</h3>
                    <p class="description">
                        Lorem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet.
                    </p>
                </div>

                <div class="item">
                    <h3>Multijoueur</h3>
                    <p class="description">
                        Lorem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet.
                    </p>
                </div>

                <div class="item">
                    <h3>Options</h3>
                    <p class="description">
                        Lorem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet orem ipsum dolor imet.
                    </p>
                </div>
            </nav>
        </div>
    </section>
</section>
