<div class="container game-container">
    <div class="game-left">
        <div id="goban_container" class="game-large">
            <div id="goban" class="game-goban"></div>
            <div id="elements" class="white" data-turn="false"></div>
        </div>

        <div class="game-controls">
            <button class="rules" id="game-rules">Regles</button>
            <button class="giveup" id="game-skip">Passer son tour</button>
            <button class="leave" id="game-quit">Quitter</button>
        </div>
    </div>

    <div class="game-right">
        <div class="game-box game-infos">
            <h3>Informations générales</h3>
            <div class="game-content">
                <div class="score" id="score-me" data-color="white" data-turn="false">
                    <h4>VOUS</h4>
                    <div class="stone"></div>
                </div>

                <div class="score scores">
                    <span class="time" id="game-counter">00:00</span>
                    <h5 data-score="white">0</h5> <span class="score-separation">-</span> <h5 data-score="black">0</h5>
                </div>

                <div class="score right" id="score-adversary" data-color="black" data-turn="true">
                    <h4>IA</h4>
                    <div class="stone"></div>
                </div>

                <div class="clear"></div>
            </div>
        </div>

        <div class="game-box game-history">
            <h3>Déroulement de la partie</h3>
            <div class="game-content" id="game-log"></div>
        </div>
    </div>
</div>


<!-- Tutoriel Swipe -->
<div id="content-tuto"><div id="container-tuto"></div></div>
