<div class="container game-container">
    <div class="game-left">
        <div id="goban_container">
            <div id="goban" class="game-goban"></div>
            <div id="elements"></div>
        </div>

        <div class="game-controls"></div>
    </div>

    <div class="game-right">
        <div class="game-box game-infos"></div>
    </div>
</div>
