<div class="container game-container">
    <div class="game-left">
        <div id="goban_container">
            <div id="goban" class="game-goban"></div>
            <div id="elements"></div>
        </div>

        <div class="game-controls">
            <button class="rules">Regles</button>
            <button class="giveup">Abandonner</button>
            <button class="leave">Quitter</button>
        </div>
    </div>

    <div class="game-right">
        <div class="game-box game-infos">
            <h3>Multijoueur</h3>
            <div class="game-content"></div>
        </div>

        <div class="game-box game-history">
            <h3>Informations de partie</h3>
            <div class="game-content"></div>
        </div>
    </div>
</div>
