<div class="container">
    <div class="game-left">
        <div id="goban"></div>
        <div class="game-controls"></div>
    </div>

    <div class="game-right">
        <div class="game-box game-infos"></div>
        <div class="game-box game-history">

        </div>
        <div class="game-box game-chat">
            <div id="chat"></div>
        </div>
    </div>
</div>



GAMMEEE
