<section class="container">
    <section class="overview-container">

        <!-- Header -->
        <div class="overview-header">
            <div class="overview-side">
               <a href="#/overview">retour</a>
            </div>

            <div class="separation-bar"></div>

            <div class="overview-left">
                <div class="logo"></div>
                <h2>SWIPE</h2>
                <h6>Selection du type de partie</h6>
            </div>
        </div>

        <!-- Content -->
        <div class="overview-content online-content">
            <nav class="overview-nav">
                <div class="item">
                    <h3><span class="ion-ios-refresh-outline" style="font-size: 30px; vertical-align: middle; margin-right: 10px;"></span> Chercher une partie publique</h3>
                </div>

                <div class="item">
                    <h3><span class="ion-ios-plus-outline" style="font-size: 30px; vertical-align: middle; margin-right: 10px;"></span> Créer une partie privée</h3>
                </div>
            </nav>
        </div>
    </section>
</section>
